// estilo de la tabla  y cuerpo
body{
    font-family: Arial, sans-serif;
    margin: 20px;
    }
    table{
    width: 70%;
    border-collapse: collapse;
    margin:10px 0;
    
    }
    th,td{
    border: 1px solid;
    padding: 8px;
    }
    th{
    background-color: gray;
    
    }



}
label{
display: block;
margin: 10px 0 5px;
font-weight: bold;
}
input, textarea,select{
    width: 95%;
    padding:20px ;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
input[type="submit"]:hover{
 background-color: #45a049;   
 }

 .container{
    max-width: 500%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0,0,0.1);
 }
